body{
	background-color: #CCD1E4;
    color: rgb(62 62 62);
    font-family: 'Lora', serif;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}


h1{
	color: #D885A3;
    font-weight: 500;
    font-size: 50px;
}


h2{
	color: #D96098;
	font-weight: 300;
    font-size: 22px
}

a{
	text-decoration: none;
	color: #655D8A;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
}

a:hover{
	color: black;
}



.container {
	width: 700px;
	margin: 40px auto;
}


@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}



@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}




.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}


.img-circle {
	border-radius: 50%;
}


.btn-pink {
	background-color: #CCD1E4;
	color: black;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-pink:hover {
	background-color: black;
	color: #CCD1E4;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: purple;
}


#introduction p {
	margin-bottom: 40px;
}








